{#
    HEAVY METALS TEST WORKSHEET
    Instrument - ICPMS
    Expected data input units - ppb
    All results are imported from the batch worksheet in ppb
    #}
<style>
    .test-worksheet {
        width: 100%;
    }
    .test-worksheet-table {
        width: 75%;
        margin-left: 10px;
        border-collapse: collapse;
        margin-bottom: 20px; /* Spacing between tables */
    }
    .section-header {
        font-size: 18px;
        color: #333;
        padding: 10px 0;
        font-weight: bold;
        text-align: left;
        margin-top: 20px;
    }
    .test-worksheet-table th {
        text-align: center;
        padding: 10px;
        background-color: #0a2240;
        color: #ffffff;
        border: 1px solid #ddd;
        font-weight: bold;
    }
    .test-worksheet-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        background-color: white;
    }
    .pf-fail {
        color: maroon; /* Text color for failed items */
    }
    .test-info {
        background-color: #f0f0f0;
        padding: 10px;
        margin-top: 10px;
    }
    .test-header {
        	margin-left: 10px;
            width: 100%;
            color: #10213e;  
            margin-top: 0.75in;
            margin-bottom: 20px;
            page-break-before: always;
        }
        .test-header-grouped {
            width: 100%;
            color: #10213e;  
            margin-bottom: 20px;
        }
        .test-header-table {
            width: 100%;
            margin-left:-2px;
            border-collapse: separate;
        }
        .test-header-table td {
            vertical-align: top;
            padding: 10px;
        }
        .test-header-summary {
			width: 20%;
            height: 25px;
            border-radius: 0.75rem;
            border: 1px solid #10213e;
        }
        .test-header-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .test-header-values {
            font-size: 8pt;
        }
        .test-header-summary-title {
            font-weight:bold; 
            margin-top: 5px; 
            margin-bottom: 5px; 
            height:40px; 
            font-size:14pt;
        }
        .test-header-prep {
            width: 32%
        }
        .test-header-analysis {
            width: 32%;
        }
    .panel-body {
        background-color: #ccc;
        border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
    }
</style>
{% set worksheet = tmp_worksheet_data if tmp_worksheet_data else test.get_worksheet_data() %}
{% set worksheet = worksheet if worksheet else {} %}

{% set assay = test.assay %}
{% set kvstore_id = assay.assay_params or "" %}
{% set kvstore = kvstore_id|get_kvstore_json if kvstore_id else {} %}

{% if test.assay.id == 41 %}
    {% set pest_analytes = kvstore.get("pesticide_worksheet_analytes") or [] %}
    {% set myco_analytes = kvstore.get("mycotoxin_worksheet_analytes") or [] %}
    {% set analytes = pest_analytes + myco_analytes %}
{% else %}
	{% set analytes = kvstore.get("worksheet_analytes") or [] %}
{% endif %}
{% set testId = test.id %}
{% set data = worksheet|extract_worksheet_value("batch_data_{}".format(test.id))|parse_json or none %}
<div>__(textarea, batch_data_{{testId}})__</div>

{% if data %}

	<div id="Test-Result-Summary-{{test.id}}" class="panel-group" style="margin-top: 10px;">
        <div class="panel panel-default">
            <div id="BenchSheet_Heading-{{test.id}}" class="panel-heading" style="background-color: #0a2240; color: #fff">
                <h4 class="panel-title text-center"><a id="Test-Result-Header-Summary-{{test.id}}" class="collapsed" href="#TestResultSummary-{{test.id}}" data-toggle="collapse" aria-expanded="false">Test Info</a></h4>
            </div>
        </div>
        <div id="TestResultSummary-{{test.id}}" class="panel-collapse collapse">
            <div class="panel-body">
 <!-- Sample Level Data Table -->
    <table class="test-worksheet-table">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>Sample Name</th>
                <th>Matrix</th>
                <th>Inhalable</th>
                {% if data.report_units == "mg/serving" or data.report_units == "mg/package" %}
                <th>Serving Weight (g)</th>
                <th>Servings Per Package</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.sample_id }}</td>
                <td>{{ data.sample_name }}</td>
                <td>{{ data.sample_matrix }}</td>
                <td>{{ data.is_inhalable|capitalize() }}
                {% if data.report_units == "mg/serving" or data.report_units == "mg/package" %}
                <td>{{ data.serving_weight }}</td>
                <td>{{ data.servings_per_package }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br/>

    <!-- Test Level Data Table -->

    <table class="test-worksheet-table">
        <thead>
            <tr>
                <th>Testing Weight (g)</th>
                <th>Extraction Volume (mL)</th>
                <th>Dilution Factor</th>
                <th>Report Units</th>
                <th>Is Compliance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.testing_weight }}</td>
                <td>{{ data.extraction_volume }}</td>
                <td>{{ data.dilution if data.dilution else data.dilutions}}</td>
                <td>{{ data.report_units }}</td>
                <td>{{ data.is_compliance }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
            </div>
        </div>
</div>

<div class="test-header">
    <table class="test-header-table">
        <tr>
            <td class="test-header-summary">
                <div class="test-header-summary-title">{{ assay.title }}</div>
                <div style="display:flex;">
                    {% set color = "maroon" if data.overall_status == "Fail" else "" %}
                    <div style="width:30%;  font-weight:bold; color:{{color}}; font-size: 16px;">
                        {{data.overall_status}}
                    </div>
                </div>
            </td>
            <td class="test-header-analysis">
                <div class="test-header-title">Sample Analysis</div>
                <div class="test-header-values">
                    <b>Sample Prep Date:</b> {{ test.start_date|local_time("%m/%d/%Y") }}<br>
                    <b>Sample Analysis Date:</b> {{ test.complete_date|local_time("%m/%d/%Y") }}<br>
                    <b>Analyzed By:</b> {{ test.assay.instrument }}<br>
                    <b>SOP:</b> {{ test.assay.method or "" }} <br>
                </div>
            </td>
        </tr>
    </table>
</div>
   
{% set primary_unit = data.report_units[0] %}
    <!-- Data Table -->
    <table class="test-worksheet-table">
        <thead>
            <tr>
                <th>Analyte</th>
                {% if data.use_lod_loq is not false%}
                 	<th>LOD ({{ primary_unit }})</th>
                    <th>LOQ ({{ primary_unit }})</th>
                {% endif %}
                {% for unit in data.report_units %}
                	<th>Final Result ({{ unit }})</th>
                {% endfor %}
                <th>Limit ({{ primary_unit }})</th>
            </tr>
        </thead>
        <tbody>
            {% for analyte in analytes %}
                <tr class="{{ 'pf-fail' if data[analyte + '_status'] == 'Fail' }}">
                    <td>{{ kvstore.get("{}_display_name".format(analyte)) or analyte|capitalize}}</td>
                    {% if data.use_lod_loq is not false%}
                        <td>{{ data.get("{}_lod_{}".format(analyte, primary_unit.replace("/", "_").replace("%", "percent"))) }}</td>
                        <td>{{ data.get("{}_loq_{}".format(analyte, primary_unit.replace("/", "_").replace("%", "percent")))  }}</td>
                    {% endif %}
                    {% for unit in data.report_units %}
                        <td>
                            {% set key_1 = "{}_final_{}".format(analyte, unit.replace("/", "_").replace("%", "percent")) %}
                            {% set key_2 = "{}_{}_final_{}".format(analyte, test.id, unit.replace("/", "_").replace("%", "percent")) %}
                            {{ data.get(key_1) or data.get(key_2) }}
                    	</td>
                    {% endfor %}
                    <td>{{ 'N/A' if not data.is_compliance else data.get("{}_limit_{}".format(analyte, primary_unit.replace("/", "_").replace("%", "percent"))) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% set test_array = [] %}
{% set cc_test = test %}
{% if test.state not in ["COMPLETED"] %}
	{% for my_test in test.sample.tests %}
		{% if my_test.assay.id == test.assay.id and my_test.id != test.id and my_test.state == "COMPLETED"%}
			{% set _ = test_array.append(my_test) %}
		{% endif %}
	{% endfor %}
{% endif %}
{% if test_array|length() > 0 %}
	{% set cc_test = test_array[0]%}
{% endif %}
{% set completed_worksheet = cc_test.get_worksheet_data() %}
{% set cc_export_data = completed_worksheet|extract_worksheet_value("batch_data_{}".format(cc_test.id))|parse_json or none %}



{% for analyte in analytes %}
    {% set cc_lod = cc_export_data.get("{}_lod_{}".format(analyte, cc_test.assay.cc_input_units.replace("%", "percent").replace("/", "_")))|float %}
    {% set cc_loq = cc_export_data.get("{}_loq_{}".format(analyte, cc_test.assay.cc_input_units.replace("%", "percent").replace("/", "_")))|float %}
    {% set cc_result_value = cc_export_data.get("{}_final_{}".format(analyte, cc_test.assay.cc_input_units.replace("%", "percent").replace("/", "_"))) %}
    {% set cc_result_value = cc_result_value if cc_result_value else cc_export_data.get("{}_{}_final_{}".format(analyte, cc_test.id, cc_test.assay.cc_input_units.replace("%", "percent").replace("/", "_"))) %}

    {% if cc_result_value in ["NT", "ND"] %}
        {% set final_value = 0 %}
    {% elif cc_result_value == "<LOQ" %}
        {% set final_value = cc_loq%}
    {% endif %}
    
    {% set cc_res_name = "{}_cc_result".format(analyte) %}
    {% set cc_lod_name = "{}_cc_lod".format(analyte) %}
    {% set cc_loq_name = "{}_cc_loq".format(analyte) %}
    {% set cc_max_name = "{}_cc_max".format(analyte) %}
    {% set cc_limit_name = "{}_cc_action_limit".format(analyte) %}
    {% set res_value = cc_result_value|float %}
    {% set cc_max_name = "{}_cc_max".format(analyte) %}
    {% set max_value = 100000000 %}
        
    {% if cc_test.assay_id in [46, 48] %} {# if micro testing or solvents #}
    	__(condition, {{cc_max_name}}, 0==0, true_value={{max_value}}, html_style="display:none;")__
    	{% if cc_result_value == 'Detected' %}
    		{% set res_value = 1 %}
    	{% elif cc_result_value in ['TNTC', ' > '] %}
    		{% set res_value = max_value + 1 %}
    	{% endif %}
    {% endif %}
        
__(condition, {{cc_res_name}}, 0==0, true_value={{res_value}}, html_style="display:none;")__
__(condition, {{cc_lod_name}}, 0==0, true_value={{cc_lod}}, html_style="display:none;")__
__(condition, {{cc_loq_name}}, 0==0, true_value={{cc_loq}}, html_style="display:none;")__
__(condition, {{cc_max_name}}, 0==0, true_value={{max_value}}, html_style="display:none;")__
{% if cc_export_data.is_compliance %}
    {% set cc_action_limit = cc_export_data.get("{}_limit_{}".format(analyte, primary_unit.replace("/", "_").replace("%", "percent"))) %}
    __(condition, {{cc_limit_name}}, 0==0, true_value={{cc_action_limit|float}}, html_style="display:none;")__
{% endif %}
{% endfor %}
{% else %}
    <p>No batch data available. Please upload batch data to proceed.</p>
{% endif %}
